/* body */

body {
  text-align: center;

}

#game-board {
  /* margin-top: 20px; */
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

#getready {
  position: relative;
  top: 160px;
}

/* logo and button */

#flappyLogo {
  margin-top: 5px;
  width: 380px;
  height: 120px;
  margin-top: 10px;
}


#new-button {
  font-size: 20px;
  background-color: white;
  color: #fff;
  padding: 5px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 35px;
}

#start-button {
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 5px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  /* margin-top: 20px; */
}

/*canvas*/

#myCanvas {
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
}

/* 
#sprite-image {
  height: 325px;
  width: 184px;
  background: url("faby.jpg") 0px 0px;
} */