/* body */
* {
  box-sizing: border-box;
}

body {
  text-align: center;


}


body h1 {
  font-size: 30px;
  text-transform: uppercase;

}

#getready.active {
  display: none;
}

#getready {
  position: absolute;
  top: 300px;
  left: 630px;
}

/* logo and button */

#flappyLogo {
  margin-top: 5px;
  width: 560px;
  height: 180px;
  margin-top: 5px;
  margin-bottom: 30px;

}

#pressspace {
  display: inline-block;

}

#myCanvas {
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
}


#gameover {
  display: none;

}

#gameover.active {
  display: block;
  position: absolute;
  top: 300px;
  left: 630px;
}

/* 
#sprite-image {
  height: 325px;
  width: 184px;
  background: url("faby.jpg") 0px 0px;
} */